<!-- ride_search.html -->

{% extends 'base.html' %}

{% block content %}
<div class="top-left-corner">
  <a href="{% url 'ride_home' %}" class = "link2">Ride Home</a>
  <a href="{% url 'driver_home' %}" class = "link2">Driver Home</a>
</div>



  <h2>Available Rides for You</h2>

  <h3>Open Ride Requests</h3>
  {% for ride in rides %}
    <div>
      <p>Ride to {{ ride.destination }} on {{ ride.arrive_time }} - Passenger: {{ ride.current_passengers_num }}</p>
      <!-- Add a button to claim the ride -->
      <form action="{% url 'claim_ride' ride.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class = "link2">Claim this Ride</button>
      </form>
    </div>
  {% empty %}
    <p>No available rides matching your vehicle specifications.</p>
  {% endfor %}
{% endblock %}

