
{% extends 'base.html' %}

{% block content %}
  
  <div class="top-left-corner">
    <a href="{% url 'ride_home' %}" class = "link2">Ride Home</a>
    <a href="{% url 'driver_home' %}" class = "link2"> Driver Home</a>
  </div>

    

  <h2>Your Confirmed Rides</h2>
  {% for ride in rides %}
    <div>
      <p>Ride to: {{ ride.destination }} on {{ ride.arrive_time }}, Owner: {{ ride.owner.username }} - Total Passengers: {{ ride.current_passengers_num }}
      
      <!-- Displaying sharers information -->
      <!-- {% for sharer in ride.sharers.all %}
        <p>Sharer: {{ sharer.sharer.username }} - Passengers: {{ sharer.passenger_num }}</p>
      {% endfor %} -->
      
      <a href="{% url 'driver_ride_details' ride.id %}"  class = "link2">View Details</a>

      <!-- Button to mark ride as complete -->
      <form action="{% url 'complete_ride' ride.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class = "link2">Mark as Complete</button>
      </form></p>
    </div>
  {% empty %}
    <p>You have no confirmed rides.</p>
  {% endfor %}
{% endblock %}
