{% extends 'base.html' %}

{% block content %}
  <h2>User Info</h2>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <a href="{% url 'update_user_info' %}">Update Info</a>

  {% if driver %}
    <h3>Driver Info</h3>
    <p>License Number: {{ driver.license_number }}</p>
    <!-- Add other driver details here -->
    <a href="{% url 'update_driver_info' %}">Update Driver Info</a>
  {% else %}
    <a href="{% url 'register_driver' %}">Register as Driver</a>
  
  {% endif %}
    <!-- Button to return to ride_home
    <a href="{% url 'ride_home' %}" class="btn btn-primary">Return to Ride Home</a> -->

    <!-- Button to return to ride_home, now moved to the bottom -->
  <div style="margin-top: 20px;">
    <a href="{% url 'ride_home' %}" class="btn btn-primary">Return to Ride Home</a>
  </div>
{% endblock %}