{% extends 'base.html' %}

{% block content %}
<div class="navbar">
  <a href="{% url 'ride_home' %}">Ride Home</a>
  <a href="{% url 'home' %}">Log out</a>
</div>
  <h2>User Info</h2>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <a href="{% url 'update_user_info' %}" class = "link2">Update Info</a>

  <div>
  <h3>Driver Info</h3>
  {% if driver %}
    
    <p>License Number: {{ driver.license_number }}</p>
    <p>Vehicle Type: {{ driver.vehicle_type }}</p>
    <p>Max Capacity: {{ driver.max_capacity }}</p>
    <p>Special Vehicle Info: {{ driver.special_vehicle_info }}</p>
    <!-- Add other driver details here -->
    <a href="{% url 'update_driver_info' %}" class = "link2">Update Driver Info</a>
  {% else %}
  <p>You are not a driver yet!</p>
    <a href="{% url 'register_driver' %}" class = "link2">Register as Driver</a>
  
  {% endif %}
  </divdiv>
    <!-- Button to return to ride_home
    <a href="{% url 'ride_home' %}" class="btn btn-primary">Return to Ride Home</a> -->

    <!-- Button to return to ride_home, now moved to the bottom -->
  <!-- <div style="margin-top: 20px;">
    <a href="{% url 'ride_home' %}" class = "link2">Return to Ride Home</a>
  </div> -->
{% endblock %}